{   
    "presets": [
      "es2015",
      "stage-0"
    ],
    "plugins": [
      "inferno",
      "lodash",
      "transform-object-rest-spread",
      "transform-decorators-legacy",
      "syntax-jsx"
    ]
}
