{   
    "presets": [
      "es2015",
      "stage-2"
    ],
    "plugins": [
      "inferno",
      "lodash",
      "transform-object-rest-spread",
      "transform-decorators-legacy",
      "syntax-jsx",
      "syntax-flow",
      "transform-flow-strip-types"
    ]
}
