$mdc-theme-primary: #e60022;
$mdc-theme-accent: #494949;
$mdc-theme-background: #fff;

@import "@material/theme/mdc-theme";
@import '@material/typography/mdc-typography';
@import '@material/elevation/mdc-elevation'; // Mixins for elevation.
@import '@material/drawer/mdc-drawer';
@import '@material/button/mdc-button';
@import '@material/card/mdc-card';
@import '@material/form-field/mdc-form-field';
@import '@material/textfield/mdc-textfield';